#main {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.title{
  text-align: center;
}

#chart2 {
  width: 1150px;
  margin: 0 auto;
}


#chart1 {
  width: 1150px;
  margin: 0 auto;
}


.axis {
  font: 10px sans-serif;
  fill: steelblue;
}

.axis path,
.axis line {
  fill: steelblue;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
}

.x line, .x path{
  stroke: steelblue;

}

.y line, .y path{
  stroke: steelblue;

}

.x text{
/*    font: 18px Calibri;*/
    fill: steelblue;
}

.y text{
    /*font: 16px Calibri;*/
    fill: steelblue;
}

.axistext{
    text-anchor: middle;
/*    font: 30px Calibri;*/
}