#main {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.title{
  text-align: center;
}

#chart2 {
  width: 1150px;
  margin: 0 auto;
}


#chart1 {
  width: 1150px;
  margin: 0 auto;
}


.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.x line, .x path{
  stroke: black;
  stroke-width: 2px;
}

.y line, .y path{
  stroke: darkred;
  stroke-width: 2px;
}

.x text{
    font: 18px Calibri;
    fill: black;
}

.y text{
    font: 16px Calibri;
    fill: darkred;
}

.axistext{
    text-anchor: middle;
    font: 18px Calibri;
}