#headerDonuts {
    color:rgba(0,0,0,0.5);
}

#headerDonuts b {
    color:rgba(0,0,0,1);
    font-weight:normal;
}

.dropdown-menu  {
    max-height:400px !important;
}

#menu li {
    border: 0.5px solid;
    background: rgba(221,227,235, 0.1);
}

#menu li:hover {
    background: rgba(221,227,235, 0.1);
    color: #666;
}


#textDiseaseDescription {
    text-align: justify;
    -ms-text-align-last: left;
    text-align-last: center;
    font-size: 1.5em;
}



/*Removing top space on these slides */
#section2 .fp-tableCell{
    display: table-row !important;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#slide2 .fp-tableCell {
    display: table !important;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

/* Play Buttons */
.fa {
    font-size:20px;
}

/* Help Button */
.help-tip{
    position: absolute;
    top: -12px;
    right: 122%;
    text-align: center;
    background-color: #ddd;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 13px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
   display: none;
   text-align: left;
   background-color: #ddd;
   padding: 10px;
   width: 500px;
   position: absolute;
   border-radius: 3px;
   top: -90px;
   right: -500px;
   color: #FFF;
   font-size: 13px;
   line-height: 1.4;
}

/*.help-tip p:before{ !* The pointer of the tooltip *!*/
/*position: absolute;*/
/*content: '';*/
/*width:0;*/
/*height: 0;*/
/*border:6px solid transparent;*/
/*border-bottom-color:#1E2021;*/
/*top:50px;*/
/*right:295px;*/
/*}*/



.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}




/*line charts */
.path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis2 path{
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.line1,
.line2{
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.hover-line {
    stroke: darkblue;
    stroke-width: 2px;
    stroke-dasharray: 1,1;
}



/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { float: left; width: 16px; height: 16px; margin: 2px; }
/* your colors */
.legend .afr { background-color: #3976af; }
.legend .amr { background-color: #b2c7e5; }
.legend .emr { background-color: #f08536; }
.legend .eur { background-color: #f6bd82; }
.legend .sear { background-color: #4f9d3e; }
.legend .wpr { background-color: #a7dc92; }

.legend2 { list-style: none; }
.legend2 li { float: left; margin-right: 10px; }
.legend2 span { float: left; width: 16px; height: 16px; margin: 2px; }

.legend2 .gdp { background-color: darkblue; }
.legend2 .cases { background-color: red; }

#donutCharts {
    position: relative;
    margin-bottom: 30px;
    text-align:center;
}

#donutCharts #donutLegend {
    font-size:16px;
    width:1000px;
    margin:0 auto !important;
    position: inherit !important;
}

#donutCharts ul {
    list-style:none;
}

.lineCharts #lineLegend {
    font-size:16px;
    width:100%;
margin-left:40%;
position: inherit !important;
}

.lineCharts ul {
    list-style:none;
}



/* Slider */
.slider.slider-horizontal {
    width: 500px;
    height: 20px;
}

.slider-track{
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.slider-selection{
    background-image: none !important;
    background-color: #ddd;
    box-shadow: none !important;
}

.slider-handle{
    background-image: none !important;
    background-color: #ccc !important;
    box-shadow: none !important;
}

.chartwrapper {
    width: 100%;
    height: 60%;
    position: relative;
    box-sizing: border-box;
}

.chartdiv {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*#chartdiv {*/
    /*width: 100%;*/
    /*height: 500px;*/
/*}*/

#legenddiv {
    position: relative;
    margin-bottom: 30px;
}

#legenddiv svg {
    width:550px !important;
    margin:0 auto !important;
    position: inherit !important;
}

/* Hide Box when Clicking on a country */
.ammapDescriptionWindow {
    display: none;

}

.amcharts-export-menu {
    display:none;
}

.amcharts-small-map {
    display:none;
}


/*
    From here on the styles were copied from other libraries!!!!!
 */

#myMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
}

/*
Styles from OnePager
 */
/* Reset CSS
        * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body {
    /*font-family: arial, helvetica;*/
    color: #F2F2F2;
}

h1 {
    font-size: 6em;
}

p {
    font-size: 2em;
}

.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

/* Section 1
 * --------------------------------------- */
#section0 {
    background-color: whitesmoke !important;
}

#section0 h1 {
    color: #444;
}

#section0 p {
    color: #333;
    opacity: 0.4;
}

/* Section 2
 * --------------------------------------- */
#section1 {
    /*background-color: #2EBE21;*/
    background-color: whitesmoke !important;
}

#section1 h1 {
    color: #666;
}

#section1 p {
    opacity: 0.8;
}

#canvas-holder {
    float: right;
    margin-right: 10%;
}

#slide0-content {
    padding: 0 20% !important;
}

/* Section 3
 * --------------------------------------- */
#section2 {
    background-color: #2C3E50;
}

#section2 h1 {
    color: #F2F2F2;
}

#section2 p {
    opacity: 0.6;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #eee transparent transparent !important; 
}

.fp-controlArrow.fp-next {
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #eee !important;
}



/* radio buttons 
 * --------------------------------------- */

.special-radio-buttons {
  transform: translate(0%,-50%);
  
}

.menu-radio{
  margin: 25px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  line-height: 30px !important;
  cursor: pointer;
    left:0;
    font-weight: 100 !important;
}

.disease label::before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 0px;
  display: block;
  border-radius: 4px;
  z-index: -1;
}

.mode label::before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    border-radius: 4px;
    z-index: -1;
}


input[type="radio"] + label::before {
  border-radius: 11px;
}

/* Checked */
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #fff;
}

.mode input[type="radio"] + label {
    /*padding-left: 10px;*/
    width: 40%;
}

.menu-radio input[type="radio"] + label {
    padding-left: 10px;
    width: 8%;
}

input[type="radio"] + label {
    padding-left: 10px;
}


.disease input[type="radio"]:checked + label::before{
  top: 0;
  width: 100%;
  height: 100%;
  background: #8e44ad;
}

.disease input[type="radio"] + label::before{
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(68,121,178);
}

.mode input[type="radio"]:checked + label::before{
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(68,121,178);
    border: 1px solid rgb(68,121,178) !important;
}

/* Transition */
label,
label::before {
/*  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;*/
}

/* slider*/
.noUi-handle {
    box-shadow: none !important;
    border-radius: 6px !important;
}

.noUi-target{
   box-shadow: none !important;
}

.noUi-connect {
    background: #ccc !important;
}

/* menu buttons */
/*#menu li {
    display: inline-block;
    margin: 10px;
    color: #666;
    border: 1px solid #ccc;
  }

#menu li.active {
    background: #ddd;
    color: #fff !important;
}

#menu li.active a{
    color: #fff !important;
}


#menu li:hover {
    background: #ddd;
    color: #666;
}

#menu li a {
    color: #666 !important;
}
*/




.bubbleChart {
    min-width: 100px;
    max-width: 700px;
    height: 700px;
    float: right !important;
    margin-right: 10%;
}

.bubbleChart svg{
/*      background: #000000;*/
}


*:focus {
    outline: 0 !important;
}

.container{
  float: left !important;
width: 40% !important;
float: left !important;
margin-left: 8% !important;

}

.row{
  /*margin-bottom: 1% !important;*/
}


.intro p {
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
}

@font-face { font-family: displayFont; src: url('https://surfen113.github.io/InteractiveData/FinalAssignment/fonts/NotoSans-Regular.ttf'); }
/*@font-face { font-family: Roboto; src: url('fonts/roboto/Roboto-Regular.TTF'); }*/
/*@font-face { font-family: Lato; src: url('fonts/lato/Lato-Light.TTF'); } */

body{
    font-family: displayFont !important;
    font-size: 12px !important;
}

h1{
    font-family: displayFont !important;
    font-size: 72px !important;

}

.fp-tableCell{
 padding-top: 3% !important;
}

#region{
  font-size: 1.3em !important;
}


.noUi-handle::after, .noUi-handle::before {
    height: 10px !important;
    left: 15px !important;
}
.noUi-horizontal .noUi-handle {
    height: 24px !important;
    width: 28px !important;
}

.noUi-handle::after {
    left: 12px !important;
}

.chart-icons{
  margin: 0 1%;
}

.help-tip-donut{
  top: 17%;
  right: 22%;
  width: 15px;
  height: 15px;
  font-size: 13px;
  cursor: default;
}

.help-tip-donut p{
width: 400px;
position: absolute;
border-radius: 3px;
top: 10px;
right: -400px;
}

.box{
    border-radius: 5%;
    padding-top: 1em;
    border: 1px solid rgba(193, 193, 193, 0.8);
    margin-top: 2.0em;
    width: 90%;
    opacity: 100;
    color: #000000;
    padding: 2%;
}

h3 {
    margin-top: 10px !important;
}

.play-buttons{
  margin-bottom: 1%;
}

.selectcontainer{
  margin-top: 3%;
}

circle{
  fill: whitesmoke;
}

.box p{
  font-color:black;
  font-size: 12px;
}

.mode label{
  border: 1px solid rgb(68,121,178) !important;
border-radius: 12px !important;
}