/*line charts */

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #6F257F;
    stroke-width: 5px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.hover-line {
    stroke: #6F257F;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

/* Donut Chart */
.exp svg {
    margin-left:10%;
}

.exp2 svg {
    margin-right:10%;
}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1.5px solid #ccc; float: left; width: 16px; height: 16px; margin: 2px; }
/* your colors */
.legend .afr { background-color: #3976af; }
.legend .amr { background-color: #b2c7e5; }
.legend .emr { background-color: #f08536; }
.legend .eur { background-color: #f6bd82; }
.legend .sear { background-color: #4f9d3e; }
.legend .wpr { background-color: #a7dc92; }

#donutCharts {
    position: relative;
    margin-bottom: 30px;
    text-align:center;
}

#donutCharts #donutLegend {
    font-size:16px;
    width:1000px;
    margin:0 auto !important;
    position: inherit !important;
}

#donutCharts ul {
    list-style:none;
}



/* Slider */
.slider.slider-horizontal {
    width: 500px;
    height: 20px;
}

.slider-track{
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.slider-selection{
    background-image: none !important;
    background-color: #ddd;
    box-shadow: none !important;
}

.slider-handle{
    background-image: none !important;
    background-color: #ccc !important;
    box-shadow: none !important;
}

.chartwrapper {
    width: 100%;
    height: 60%;
    position: relative;
    padding-bottom: 25%;
    box-sizing: border-box;
}

.chartdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 1% !important;
}

/*#chartdiv {*/
    /*width: 100%;*/
    /*height: 500px;*/
/*}*/

#legenddiv {
    position: relative;
    margin-bottom: 30px;
}

#legenddiv svg {
    width:550px !important;
    margin:0 auto !important;
    position: inherit !important;
}

/* Hide Box when Clicking on a country */
.ammapDescriptionWindow {
    display: none;

}

.amcharts-export-menu {
    display:none;
}

.amcharts-small-map {
    display:none;
}


/*
    From here on the styles were copied from other libraries!!!!!
 */

#myMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
}

/*
Styles from OnePager
 */
/* Reset CSS
        * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body {
    font-family: arial, helvetica;
    color: #F2F2F2;
}

h1 {
    font-size: 6em;
}

p {
    font-size: 2em;
}

.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

/* Section 1
 * --------------------------------------- */
#section0 {
    background-color: #BFDA00;
}

#section0 h1 {
    color: #444;
}

#section0 p {
    color: #333;
    opacity: 0.4;
}

/* Section 2
 * --------------------------------------- */
#section1 {
    /*background-color: #2EBE21;*/
    background-color: #fff !important;
}

#section1 h1 {
    color: #666;
}

#section1 p {
    opacity: 0.8;
}

#canvas-holder {
    float: right;
    margin-right: 10%;
}

#slide0-content {
    width: 50%;
    float: left;
    padding-right: 8% !important;
}

/* Section 3
 * --------------------------------------- */
#section2 {
    background-color: #2C3E50;
}

#section2 h1 {
    color: #F2F2F2;
}

#section2 p {
    opacity: 0.6;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #eee transparent transparent !important; 
}

.fp-controlArrow.fp-next {
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #eee !important;
}



/* radio buttons 
 * --------------------------------------- */

.special-radio-buttons {
  transform: translate(0%,-50%);
    margin-top:2%;
    margin-bottom: 2%;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}

.disease label::before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  z-index: -1;
}

.mode label::before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #849cfd;
    border-radius: 4px;
    z-index: -1;
}


input[type="radio"] + label::before {
  border-radius: 11px;
}

/* Checked */
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #fff;
}

.disease input[type="radio"]:checked + label::before{
  top: 0;
  width: 100%;
  height: 100%;
  background: #8e44ad;
}

.mode input[type="radio"]:checked + label::before{
    top: 0;
    width: 100%;
    height: 100%;
    background: #849cfd;
}

/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* slider*/
.noUi-handle {
    box-shadow: none !important;
    border-radius: 6px !important;
}

.noUi-target{
   box-shadow: none !important;
}

.noUi-connect {
    background: #ccc !important;
}

/* menu buttons */
/*#menu li {
    display: inline-block;
    margin: 10px;
    color: #666;
    border: 1px solid #ccc;
  }

#menu li.active {
    background: #ddd;
    color: #fff !important;
}

#menu li.active a{
    color: #fff !important;
}


#menu li:hover {
    background: #ddd;
    color: #666;
}

#menu li a {
    color: #666 !important;
}
*/




.bubbleChart {
    min-width: 100px;
    max-width: 700px;
    height: 700px;
    float: right !important;
    margin-right: 10%;
}

.bubbleChart svg{
/*      background: #000000;*/
}


.btn-default {
  border-radius: 50% !important;
  width: 100px !important; 
  height:100px !important;
/*background-color: white !important;*/
  margin: 0.5%;
  border: 1px solid #64C7CC !important;
  color: #64C7CC !important;

}

.btn-default:hover {
    background-color: #64C7CC !important; /* Green */
    color: white  !important;
    /*transform: scale(1.05);*/
}

*:focus {
    outline: 0 !important;
}

.container{
  float: left !important;
width: 40% !important;
float: left !important;
margin-left: 8% !important;

}

.row{
  margin-bottom: 2% !important;
}


.intro p {
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
}

@font-face { font-family: Roboto; src: url('./fonts/roboto/Roboto-Regular.TTF'); } 
@font-face { font-family: Lato; src: url('./fonts/lato/Lato-Light.TTF'); } 

body{
    font-family: Roboto !important;
    font-size: 12px !important;
}

.fp-tableCell{
 padding-top: 3% !important;
}

#region{
  font-size: 1.3em !important;
}


.noUi-handle::after, .noUi-handle::before {
    height: 10px !important;
    left: 15px !important;
}
.noUi-horizontal .noUi-handle {
    height: 24px !important;
    width: 28px !important;
}

.noUi-handle::after {
    left: 12px !important;
}

