.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

body {
    font: 10px sans-serif;
}

.linage {
    fill: none;
    stroke: lightblue;
}

.marriage {
    fill: none;
    stroke: darkblue;
}

.man {
    background-color: lightblue;
}

.woman {
    background-color: pink;
}

.emphasis {
    font-style: italic;
}

p {
    padding: 0;
    margin: 0;
}

.section{
	font-size: 11px;
	line-height: 1.5em;
}

h2{
	margin-left: 1%;
}

.section p{
	margin-left: 1%;
}

span {
	color: grey;
    font-size: 9px;
}

ul{
    list-style-type: circle;
}